anndata>=0.7
docutils
fuzzywuzzy
jinja2
loompy
matplotlib
networkx
numpy>=1.14.0
obonet
openpyxl
pandas
python-Levenshtein
scanpy
scipy
seaborn
sphinx
sphinx_rtd_theme
tensorflow  # TODO remove as soon as # 70 is solved
tqdm
requests
xlrd==1.*
