anndata>=0.7.6
boltons
click>=7.1.2
cookiecutter>=1.7.2
crossref_commons
dask
docutils
flatten-dict
fuzzywuzzy
h5py
IPython
loompy
matplotlib
networkx
numba
numpy>=1.16.4
nxontology
obonet
openpyxl
packaging>=20.8
pandas
pronto
pyarrow
pytest>=6.2.2
python-Levenshtein
PyYAML
requests>=2.25.1
rich>=9.10.0
questionary>=1.8.1
scanpy>=1.7.0
scipy>=1.2.1
seaborn
sparse
tqdm
versioneer
switchlang>=0.1.0
xlrd==2.0.1
zarr
